{% block head%}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />
    </head>
    {% endblock %}
    <body>
        <main>
            {% for message in get_flashed_messages()%}
            <h2>{{message}}</h2>
            {%endfor%}
            <h1>{% block pagetitle %}{% endblock %}</h1>
            {%block main%} {%endblock%}
        </main>
    </body>
</html>
